{% extends "base.html" %}

{% block title %}{% if task %}Update task{% else %}Create task{% endif %}{% endblock %}

{% block content %}
    <div class="card">
        {% if task %}
            <h1>Updating task: {{task.title}}</h1>
        {% else %}
            <h1>Creating task</h1>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn-primary" type="submit">Save</button>
        </form>

        <div class="actions">
            <a class="btn-secondary" href="{% url 'tasks_list' %}">Back to tasks</a>
        </div>
    </div>
{% endblock %}